<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
	<appSettings file="version.xml">
		<add key="dmsDataSource" value="OBSERVER" />
		<add key="dmsVirtualRoot" value="https://ecm.petros.com.br/ecm" />
		<add key="dmsOEMProductName" value="OnBase" />
		<add key="dmsOEMName" value="" />

		<add key="default_domainname" value="IMG_PETROS" />

		<add key="www_username" value="manager" />
		<add key="www_password" value="obprod@10" />
		<add key="www_DataSource" value="OBSERVER" />
		<add key="www_Service" value="https://ecmhomolog.petros.com.br/ecmserver/service.asmx" />
		<add key="StorageRoot" value="Upload" />
	</appSettings>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	
</configuration>